<h1>Зарегистрировать нового преподователя:</h1><!--Sign Up Teacher-->
<br />
<p>Введите логин:</p><!--Input Email:-->
<input type="text" [(ngModel)]="teacherModel.Login" name="Login" />
<br />
<p>Введите пароль:</p><!--Input password:-->
<input type="password" [(ngModel)]="teacherModel.Password" name="Password" />
<br />
<p>Выберите роль:</p><!--Input password:-->
<select [(ngModel)]="teacherModel.Role">
  <option value="Teacher">Teacher</option>
  <option value="Assistant">Assistant</option>
</select>
<br />
<p>Выберите кафедру:</p><!--Input password:-->
<select [(ngModel)]="teacherModel.CathedraId">
  <option *ngFor="let cathedra of cathedrasList" [ngValue]="cathedra.Id"> {{cathedra.ShortName}} </option>
</select>
<br />
<br />
<button (click)="SignUp()">Зарегистрироваться</button><!--Sign up-->
