<div class='main-nav' style="background: lightgray;overflow-y: scroll;overflow-x: hidden;">
  <div class='navbar'>
    <div class='navbar-header'>
      <div class='navbar-brand'>
        <button type='button' class='navbar-toggle' (click)="collapseNavbar()">
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a [routerLink]="['/sign-in']" class='navbar-link'>Журнал лабораторных работ</a><!--Journal Labs-->
      </div>
    </div>
    <div class='clearfix'></div>
    <div style=" margin-left: 10px; margin-bottom: 12px;">                                                                                                           
      <p>Поиск лабораторных работ по ФИО студента:</p><!--Search student by name:-->
      <input type="text" [(ngModel)]="studentName" name="studentName"/>
      <button (click)="StudentSearch()">Найти студента</button><!--Find student-->
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse {{collapse}}'>
      <ul class='nav navbar-nav'>
        <li *ngIf="currentRole=='Admin'" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
          <a [routerLink]="['/admin']">
            <span class='glyphicon glyphicon-education'></span> {{ 'Admin' | translate }}
          </a>
        </li>
        <li *ngIf="currentRole=='Admin'" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="collapseMenu()">
          <a [routerLink]="['/cathedras']">
            <span class='glyphicon glyphicon-user'></span> Список кафедр <!--List cathedras-->
          </a>
        </li>
        <li *ngIf="currentRole=='Admin'" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="collapseMenu()">
          <a [routerLink]="['/groups']">
            <span class='glyphicon glyphicon-user'></span> Список групп <!--List groups-->
          </a>
        </li>
        <li *ngIf="currentRole=='Admin'" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="collapseMenu()">
            <a [routerLink]="['/view-logs']">
              <span class='glyphicon glyphicon-user'></span> Просмотр логов <!--List groups-->
            </a>
          </li>
        <li *ngIf="currentRole=='Teacher'" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="collapseMenu()">
          <a [routerLink]="['/create-journal']">
            <span class='glyphicon glyphicon-user'></span> Создать журнал <!--Student journals-->
          </a>
        </li>
        <li *ngIf="currentRole!=''" [routerLinkActive]="['link-active']" (click)="signOut()">
          <a>
            <span class='glyphicon glyphicon-th-large'></span> Выйти с аккаунта <!--Sign Out-->
          </a>
        </li>
        <li *ngIf="currentRole==''" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
          <a [routerLink]="['/sign-in']">
            <span class='glyphicon glyphicon-star-empty'></span> Войти в аккаунт<!--Sign In-->
          </a>
        </li>
        
        <ng-container *ngIf="teacherJournals.length!=0 && (currentRole=='Teacher'||currentRole=='Assistant')">
          <li><div class="mini-submenu" *ngIf="!menulist" (click)="toggleMenu()">
              Фильтр по журналам
             
          
          </div></li>
        </ng-container>
        <input type="hidden">
        <ng-container *ngIf="filteredJournals.length!=0 && (currentRole=='Teacher'||currentRole=='Assistant')">
          <li  *ngFor="let journal of filteredJournals ; index as i"  id="teacher{{i}}" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="collapseMenu()">
            <a [routerLink]="['/journal']" [queryParams]="{ journalId: journal.Id }">
              <span class='glyphicon glyphicon-comment'></span> Преподаватель - {{journal.LessonName}}({{journal.GroupName}})<!--Teacher-->

            </a>
          </li>
        </ng-container>

        <!-- <div *ngFor="let fabric of searchText">{{fabric.LessonName}}</div> -->
    
        <ng-container *ngIf="studentJournals.length!=0">
          <li *ngFor=" let journal of studentJournals;let i=index" id="student{{i}}" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="collapseMenu()">
            <a [routerLink]="['/journal']" [queryParams]="{ journalId: journal.JournalId,studentId:journal.StudentId }">
              <span class='glyphicon glyphicon-comment'></span> Студент - {{journal.LessonName}}<!--Student-->
            </a>
          </li>
        </ng-container>
      </ul>
      <textarea *ngIf="currentRole=='Teacher' || currentRole=='Admin'" placeholder="добавить заметки/примечания по разработке" style="margin-left: 14px" name="Text1" cols="40" rows="10" (blur)="addDevelopmentRemak($event)"></textarea>
    </div>
  </div>
</div>
<!-- filter sidebar -->
<ng-container *ngIf="teacherJournals.length!=0 && (currentRole=='Teacher'||currentRole=='Assistant')">
<div class="sidebar">

    <div class="list-group" *ngIf="menulist">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <a id="menu-close" (click)="toggleMenu()"  class="btn btn-default btn-lg btn-block toggle">Скрыть фильтр <i class="glyphicon glyphicon-remove"></i></a>
              <br><br>
              <fieldset>
                  <legend>Фильтр по дисциплинам</legend>
                  
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <p *ngFor=" let lesson of lessonArray;let i=index" id="teacher{{i}}" >
                          <input  type="checkbox" name="predmaetfill" (change)="getFilterSelected()"
                                 [(ngModel)]="lesson.selected"
                           value="{{lesson.name}}" id="predmetfilter{{i}}" /> <label for="predmetfilter{{i}}"> {{lesson.name}} </label>
                      </p>
                    </div>
                  </div>
                  
              </fieldset>
              <fieldset>
                <legend>Фильтр по группам</legend>
                
                <div class="panel panel-default">
                  <div class="panel-body">
                    <p *ngFor=" let group of groupsArray;let i=index" id="teacher{{i}}" >
                        <input  type="checkbox" name="predmaetfill" (change)="getFilterSelected()"
                               [(ngModel)]="group.selected"
                         value="{{group.name}}" id="predmetfilter{{i}}" /> <label for="predmetfilter{{i}}"> {{group.name}} </label>
                    </p>
                  </div>
                </div>
                
            </fieldset>
               
            </ul>
          </div>
          
        
      
    </div>
  </div>
</ng-container>
