<div class="row">
<br>
<br>


  <div class="form-inline">
    <div class="form-group">
      <label for="exampleInputName2">Название</label>
      <input type="text" class="form-control" [(ngModel)]="newCathedra.FullName">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail2">Короткое название</label>
      <input type="text" class="form-control" [(ngModel)]="newCathedra.ShortName">
    </div>

    <button type="submit" class="btn btn-default" (click)="addCathedra()" >Добавить дисциплину</button>
  </div>
<br>
<br>
  <div> <!--*ngIf="pulpitsViewModel!=null">-->
    <table class="table"> 
      <caption>Список кафедр</caption> 
      <thead> 
        <tr> 
          <th>#</th> 
          <th>Название</th> 
          <th>Короткое название</th> 
          <th></th> 
        </tr> 
      </thead> 
      <tbody>
        <ng-container *ngFor=" let key of cathedrasArray;let i=index"> 
          <tr> 
            <th scope="row">{{i}}</th> 
            <td><input [(ngModel)]="key.FullName" (blur)="changeCathedraName(key)"  /></td> 
            <td><input [(ngModel)]="key.ShortName" (blur)="changeCathedraName(key)"  /></td> 
            <td ><input type="button" (click)="removeCathedra(key,i)" value="удалить" /></td>
          </tr>
        </ng-container>

      </tbody> 
    </table>
 
  </div>
</div>
